.footer{
  background-color:aliceblue;
  font-size: larger;
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%; 
  color: white;
  text-align: center;   
}
.album-card :hover{
  transform: scale(1.02);
  transition:300ms;
  overflow: hidden;
}
.album-card .card{
  margin-left: auto;
  margin-right: auto;
}
.log-in, .form{
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 400px;
  padding: 30px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 5px 10px 8px #888888;
}
.btn-danger :hover{
  transform: scale(1.8);
  transition: 200ms;   
}
.show-image{
  height:150px;
  width:14rem;
  object-fit:cover; 
  overflow:hidden;
  border: 1px solid ;  
}
.show-image:hover{
  transform: scale(1.5);
  transition: 500ms;
}
.btn-destroy{
  margin-top: 40px; 
  text-decoration:none; 
  width:100px;
  height:45px;
  margin-left: 10px;
}
.btn-destroy:hover{
  background-color: red;
} 
.btn-update{ 
  text-decoration:none; 
  width:100px;
  height:45px;
  margin-top: 40px;
  margin-right: 10px; 
}
.btn-update:hover{
  background-color: rgb(93, 146, 14);
}
.footer-gap-box{
  height: 300px;
} 
.search-box-name, .search-box-tag{
  height: 40px;
  border-radius:10px;
  margin-top: 5px;
}
.search-button{
  border-radius: 10px;
  height: 40px;
}
@media only screen and (max-width: 320px) {
  .footer{     
    position:relative;
  }
  .footer-gap-box{
    height:0px;
  }
}
@media only screen and (max-width: 540px) {
  .search-button{
    width:220px;
    margin-top: 5px;
  }
}
